<div class="panel level-one" ng-class="{ active: loadedService, 'pushed-once': loadedMember }" ng-model="loadedService">

	<!-- Close button -->
	<i class="fa fa-angle-double-right close-button" ng-click="unloadService()"></i>

	<!-- Service leader -->
	<h1 class="name">{{ loadedService.name }}</h1>
	<div class="leader-name">Responsable :
		<span class="label label-default" ng-click="openMemberPanel(loadedService.leader_id)">
			{{ loadedService.leader_name }}
		</span>
	</div>

	<!-- In charge for this office -->
	<div class="in-charge-this-meeting">Cette réunion :
		<span class="label" ng-class="{ 'label-danger': !loadedService.member_in_charge_name }" ng-click="toggleMemberList()">
			{{ loadedService.member_in_charge_name || "A définir !" }}
		</span>
	</div>

	<div class="member-list-container" ng-class="{ visible: memberListOpen }">
		<p>Quelle personne sera en charge durant cette réunion ?</p>
		<span class="member label label-danger" ng-repeat="member in members" ng-click="updateMemberInCharge(loadedService.id, member.id)">{{ member.name }}</span>
	</div>

	<!-- Tasks to do section -->
	<h2>Tâches à accomplir pour cette réunion</h2>

	<!-- Table of tasks -->
	<table class="tasks">

		<tr>
			<th>Tâche</th>
			<th>Échéance</th>
		</tr>

		<tr class="task" ng-repeat="task in loadedService.tasks">
			<td class="name">
				<input name="task_{{ task.id }}" id="task_{{ task.id }}" type="checkbox" ng-model="task.completed" ng-change="toggleCompletedTask({{ task }}, {{ loadedService }})">
				<label for="task_{{ task.id }}">{{ task.name }}</label>
			</td>
			<td class="due-date">{{ task.due_date | date:'d/MM/yyyy' }}</td>
		</tr>

	</table>

</div>

<!-- Member panel -->
<div ng-include="'views/members/show.html'" ng-controller="MembersController"></div>

<!-- Overlay -->
<div class="overlay" ng-class="{ 'visible-service': loadedService, 'visible-member': memberPanelOpen }" ng-click="closeAllPanels()"></div>