<div class="right-panel level-one" ng-class="{ active: servicePanelOpen, 'pushed-once': loadedMember }" ng-model="loadedService">

	<!-- Close button -->
	<i class="fa fa-angle-double-right close-button" ng-click="closeServicePanel()"></i>

	<h1 class="name">{{ loadedService.name }}</h1>

	<!-- Service leader -->
	<div class="members-in-charge">

		<!-- Leader -->
		<span class="btn btn-default" ng-click="openMemberPanel(loadedService.leader_id)">
			Responsable : {{ loadedService.leader_name }}
		</span>

		<!-- In charge this office -->
		<span class="btn" ng-class="{ 'btn-primary': loadedService.member_in_charge_name, 'btn-danger': !loadedService.member_in_charge_name }" ng-click="toggleMemberList()">
			Cette réunion : {{ loadedService.member_in_charge_name || "Attention : personne ne s'occupe de ce service pour cette réunion !" }}
		</span>

	</div>

	<div class="member-list-container" ng-class="{ visible: memberListOpen }">

		<div class="list" ng-class="{ active: !memberToConfirm }">
			<p>Quelle personne sera en charge durant cette réunion ?</p>
			<span class="member btn btn-danger" ng-repeat="member in members" ng-click="confirmMemberInCharge(member)">{{ member.name }}</span>
		</div>

		<div class="confirmation" ng-class="{ active: memberToConfirm }">
			<p>
				Assigner {{ memberToConfirm.name }} au service {{ loadedService.name }} pour cette réunion ?<br>
				{{ memberToConfirm.name }} recevra un mail de confirmation.
			</p>
			<div class="btn btn-default" ng-click="confirmMemberInCharge(false)">Annuler</div>
			<div class="btn btn-primary" ng-click="updateMemberInCharge(memberToConfirm)">Confirmer</div>
		</div>

	</div>

	<!-- Tasks to do section -->
	<h2>Tâches à accomplir pour cette réunion</h2>

	<!-- Table of tasks -->
	<table class="tasks" ng-controller="TasksController">

		<tr>
			<th>Tâche</th>
			<th>Échéance</th>
		</tr>

		<tr class="task" ng-repeat="task in tasks" ng-model="task">
			<td class="name">
				<input name="task_{{ task.id }}" id="task_{{ task.id }}" type="checkbox" ng-model="task.completed" ng-change="updateTask(task)">
				<label for="task_{{ task.id }}">{{ task.name }}</label>
			</td>
			<td class="due-date">{{ task.due_date | date:'d/MM/yyyy' }}</td>
		</tr>

	</table>

</div>

<!-- Member panel -->
<div ng-include="'views/members/show.html'" ng-controller="MembersController"></div>

<!-- Overlay -->
<div class="overlay" ng-class="{ 'visible-service': servicePanelOpen, 'visible-member': memberPanelOpen }" ng-click="closeAllPanels()"></div>