@import '_vars';

// --------------------------------------
// PANELS

.right-panel {
	width: $panel_width_high;
	right: -$panel_width_high;
	position: fixed;
	top: 0;
	bottom: 0;
	background-color: seashell;
	text-align: center;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
	overflow: scroll;

	transition: right $transition_time ease;

	@media screen and (max-width: $max_width_medium) {
			width: $panel_width_medium;
			right: -$panel_width_medium;
	}

	@media screen and (max-width: $max_width_low) {
			width: $panel_width_low;
			right: -$panel_width_low;
	}

	&.level-one {
		z-index: 50;

		&.active {
			right: 0;

			&.pushed {
				right: $panel_width_high;

				@media screen and (max-width: $max_width_medium) {
						right: $panel_width_medium;
				}

				@media screen and (max-width: $max_width_low) {
						right: 0;
				}
			}
		}
	}

	&.level-two {
		z-index: 100;

		&.active {
			right: 0;
		}
	}

	&.edit-mode {
		border: solid 4px $red;

		transition: border $transition_time ease;

		.header-edit-mode {
			padding: 5px;
			height: 30px;
		}
	}

	.header-edit-mode {
		background-color: $red;
		color: white;
		font-weight: bold;
		overflow: hidden;
		padding: 0;
		height: 0;

		transition: padding $transition_time ease, height $transition_time ease;
	}

	.buttons {
		position: relative;
		top: 20px;
		font-size: 3em;
		width: 100%;
		cursor: pointer;
		color: $gray;

		transition: color $transition_time ease;

		.close-panel, .edit-panel, .cancel-edit-panel, .valid-edit-panel {
			position: absolute;
		}

		.close-panel, .cancel-edit-panel {
			left: 20px;

			&:hover { color: $red; }
		}

		.edit-panel, .valid-edit-panel { right: 20px; }

		.edit-panel {
			&:hover { color: $blue; }
		}

		.valid-edit-panel {
			&:hover { color: $green; }
		}
	}

	h2 { font-size: 1.5em; }

	label { margin: 0 35px 0; }

	th {
		text-align: center;
		color: gray;
		font-weight: lighter;
	}

	td { position: relative; }
}

// Overlay when the panel is open
.overlay {
	position: fixed;
	z-index: 45;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: black;
	opacity: 0;
	pointer-events: none;

	transition: opacity $transition_time ease;

	&.visible {
		opacity: 0.5;
		pointer-events: auto;
	}
}