// -------------------
// FONTS

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";


// -------------------
// COLORS

$red: #EB6A6A;
$green: #28AB24;
$blue: #637DA6;
$gray: #DDDDDD;


// -------------------
// TIMERS

$transition_time: 0.4s;


// -------------------
// SIZES

$max_width_medium: 550px;
$max_width_low: 370px;

$panel_width_high: 500px;
$panel_width_medium: 90%;
$panel_width_low: 100%;