@import '_vars';

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// --------------------------------------
// GLOBAL HTML & BOOTSTRAP TAGS

html {
	height: 100%;
	width: 100%;
	margin: 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  &.background-1 {
  	background-image: url("../images/background_1.jpeg");
  }

  &.background-2 {
  	background-image: url("../images/background_2.jpeg");
  }

  &.background-3 {
  	background-image: url("../images/background_3.jpeg");
  }

  &.background-4 {
  	background-image: url("../images/background_4.jpeg");
  }

  &.no-scroll {
  	overflow: hidden;
  }
}

a {
	cursor: pointer;

	&:hover { text-decoration: none; }
}

ul {
	list-style: none;
	padding: 0;
}

.container {
	position: relative;

	/* Responsive: Portrait tablets and up */
	@media screen and (min-width: 768px) { max-width: 730px; }
}

.btn { margin: 5px 0; }


// --------------------------------------
// CUSTOM CHECKBOX

label {
	font-weight: normal;
	cursor: pointer;
	line-height: 2em;

	&:hover {
		&:before, &:after {
			color: $green;
		}
	}

	&:before, &:after {
		font-family: fontawesome;
		font-size: 2em;
		position: absolute;
		top: 10px;
		left: 0;

		transition: all 0.30s;
	}

	&:before {
		content: '\f096';
		color: $red;
	}

	&:after {
		content: '\f046';
		color: $green;
		overflow: hidden;
		max-width: 0;
		opacity: 0.5;
	}
}

input[type="checkbox"] {
	margin: 0 20px;
	display: none;

	&:checked + label:before {
		opacity: 0;
	}

	&:checked + label:after {
		max-width: 2em;
		opacity: 1;
	}
}


// --------------------------------------
// PANELS

.right-panel {
	width: $panel_width_high;
	right: -$panel_width_high;
	position: fixed;
	top: 0;
	bottom: 0;
	background-color: seashell;
	text-align: center;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
	overflow: scroll;

	transition: right $transition_time ease;

	@media screen and (max-width: $max_width_medium) {
			width: $panel_width_medium;
			right: -$panel_width_medium;
	}

	@media screen and (max-width: $max_width_low) {
			width: $panel_width_low;
			right: -$panel_width_low;
	}

	&.level-one {
		z-index: 50;

		&.active {
			right: 0;

			&.pushed-once {
				right: $panel_width_high;

				@media screen and (max-width: $max_width_medium) {
						right: $panel_width_medium;
				}

				@media screen and (max-width: $max_width_low) {
						right: 0;
				}
			}
		}
	}

	&.level-two {
		z-index: 100;

		&.active {
			right: 0;
		}
	}

	.close-button {
		position: absolute;
		top: 20px;
		left: 20px;
		font-size: 3em;
		cursor: pointer;
		color: $gray;

		transition: color $transition_time ease;

		&:hover { color: $red; }
	}

	h2 { font-size: 1.5em; }

	label { margin: 0 35px 0; }

	th {
		text-align: center;
		color: gray;
		font-weight: lighter;
	}

	td { position: relative; }
}

// Overlay when the panel is open
.overlay {
	position: fixed;
	z-index: 45;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: black;
	opacity: 0;
	pointer-events: none;

	transition: opacity $transition_time ease;

	&.visible-service, &.visible-member {
		opacity: 0.5;
		pointer-events: auto;
	}
}