@import '_vars';

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// --------------------------------------
// GLOBAL HTML & BOOTSTRAP TAGS

html {
	height: 100%;
	width: 100%;
	margin: 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  &.background-1 {
  	background-image: url("../images/background_1.jpeg");
  }

  &.background-2 {
  	background-image: url("../images/background_2.jpeg");
  }

  &.background-3 {
  	background-image: url("../images/background_3.jpeg");
  }

  &.background-4 {
  	background-image: url("../images/background_4.jpeg");
  }

  &.no-scroll {
  	overflow: hidden;
  }
}

a {
	cursor: pointer;

	&:hover { text-decoration: none; }
}

ul {
	list-style: none;
	padding: 0;
}

.container {
	position: relative;

	/* Responsive: Portrait tablets and up */
	@media screen and (min-width: 768px) { max-width: 730px; }
}

.btn { margin: 5px 0; }


// --------------------------------------
// CUSTOM CHECKBOX

label {
	font-weight: normal;
	cursor: pointer;
	line-height: 2em;

	&:hover {
		&:before, &:after {
			color: $ch_green;
		}
	}

	&:before, &:after {
		font-family: fontawesome;
		font-size: 2em;
		position: absolute;
		top: 10px;
		left: 0;

		transition: all 0.30s;
	}

	&:before {
		content: '\f096';
		color: $ch_red;
	}

	&:after {
		content: '\f046';
		color: $ch_green;
		overflow: hidden;
		max-width: 0;
		opacity: 0.5;
	}
}

input[type="checkbox"] {
	margin: 0 20px;
	display: none;

	&:checked + label:before {
		opacity: 0;
	}

	&:checked + label:after {
		max-width: 2em;
		opacity: 1;
	}
}