@import '_vars';

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: ivory;
}

.container { position: relative; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}


// --------------------------------------
// CUSTOM CHECKBOX

label {
	font-weight: normal;
	cursor: pointer;
	line-height: 2em;

	&:hover {
		&:before, &:after {
			color: $green;
		}
	}

	&:before, &:after {
		font-family: fontawesome;
		font-size: 2em;
		position: absolute;
		top: 10px;
		left: 0;

		transition: all 0.30s;
	}

	&:before {
		content: '\f096';
		color: $red;
	}

	&:after {
		content: '\f046';
		color: $green;
		overflow: hidden;
		max-width: 0;
		opacity: 0.5;
	}
}

input[type="checkbox"] {
	margin: 0 20px;
	display: none;

	&:checked + label:before {
		opacity: 0;
	}

	&:checked + label:after {
		max-width: 2em;
		opacity: 1;
	}
}


// --------------------------------------
// LABELS OVERRIDE

.label {
	cursor: pointer;
	line-height: 3em;
	font-size: 1em;
}