@import '_vars';


// --------------------------------------
// LOCAL VARS

$service_height: 100px;
$transition_time: 0.4s;


// --------------------------------------
// SWITCH BUTTON

.switch-button-container {
	width: 70%;
	min-height: 30px;
	margin: 0 auto 20px;
	position: relative;
	border: 1px solid gray;
	cursor: pointer;
	overflow: hidden;

	.option {
		text-align: center;
		position: relative;
		z-index: 20;
		float: left;
		width: 50%;
		box-shadow: 3px 3px 9px -2px rgba(0, 0, 0, 0.4) inset;
		line-height: 28px;
		background-color: $green;
		color: white;

		&.right { background-color: $red; }

	}

	.switch {
		position: absolute;
		z-index: 30;
		top: 0;
		bottom: 0;
		left: 0;
		width: 50%;
		background-color: #EEEEEE;
		box-shadow: 0 0 10px 0;
		text-align: center;
		padding: 5px;

		transition: left $transition_time ease;

		&.right {
			left: 50%;
		}

		span {
			width: 1px;
			height: 100%;
			display: inline-block;
			margin: 0px 2px;
			box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.2);
		}
	}
}


// --------------------------------------
// OFFICE DATE

.office-date {
	font-size: 2em;
	text-align: center;
	margin-bottom: 10px;

	h1 { margin-top: 0; }

	.previous, .next {
		position: absolute;
		top: 0;
	}

	.previous { left: 0; }
	.next { right: 0; }

	@media screen and (max-width: 768px) {
	  .previous { left: 15px; }
	  .next { right: 15px; }
	}

}


// --------------------------------------
// SERVICES

.services {

	.service {
		height: $service_height;
		background-color: white;
		border: solid 1px $red;
		padding: 10px;
		position: relative;
		margin-bottom: 10px;
		text-align: center;
		cursor: pointer;
		left: 0;

		transition: left $transition_time ease, height $transition_time ease;

		// Override default ng-hide dehaviour
		&.ng-hide {
			display: inherit!important;
			left: 200%;
			height: 0;
			margin: 0;
			padding: 0;
			overflow: hidden;

		}

		&.completed {
			border-color: $green;

			.status-color-line {
				background-color: $green;
			}

			.task-remaining {
				color: $green;
			}

			&:hover {

				.button {
					color: $green;
				}
			}
		}

		&:hover {

			.button {
				color: $red;
			}

			.status-color-line {
				width: 3%;
			}

			&:before, &:after {
				bottom: 25px;
			}

		}

		&:before, &:after {
		  content: "";
		  position: absolute;
		  z-index: -1;
		  bottom: 15px;
		  left: 10px;
		  width: 50%;
		  height: 20%;
		  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
		  transform: rotate(-3deg);

		  transition: bottom 0.2s ease;
		}

		&:after{
		  right: 10px;
		  left: auto;
		  transform: rotate(3deg);
		 }
	}

	.status-color-line {
		width: 2%;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		background-color: $red;

		transition: width 0.2s ease;
	}

	.name {
		margin-top: 5px;
	}

	.task-remaining {
		color: $red;
	}

	.button {
		font-family: comic sans ms;
		text-align: center;
		font-size: 3em;
		text-shadow: rgba(0, 0, 0, 0.1) -1px 0, rgba(0, 0, 0, 0.1) 0 -1px, rgba(255, 255, 255, 0.1) 1px 0, rgba(255, 255, 255, 0.1) 0 1px, rgba(0, 0, 0, 0.1) -1px -1px, rgba(255, 255, 255, 0.1) 1px 1px;
		color: rgba(255, 255, 255, 0.6);
		position: absolute;
		top: 0;
		right: 0;
		margin: 19px 15px;

		transition: color $transition_time ease;
	}

	.all-tasks-completed {
		position: absolute;
		top: 30%;
		left: 4%;
		display: block;
		transform: rotateZ(-15deg);
		font-family: impact;
		font-size: 2em;
		color: $green;
	}

}
