@import '_vars';

// --------------------------------------
// LOCAL VARS

$service_height: 100px;


// END LOCAL VARS
// -------------------

// --------------------------------------
// SERVICES

.services {

	.service {
		height: $service_height;
		background-color: white;
		border: solid 1px $red;
		padding: 10px;
		position: relative;
		margin-bottom: 10px;
		text-align: center;
		cursor: pointer;
		left: 0;
		backface-visibility: hidden;

		transition: left 0.4s ease, height 0.4s ease, transform 0.3s ease;

		&.flipped {
			transform: rotateY(180deg);

			&:before, &:after {
				box-shadow: 0 15px 10px rgba(0, 0, 0, 0);
			}
		}

		// Override default ng-hide dehaviour
		&.ng-hide {
			display: inherit!important;
			left: 200%;
			height: 0;
		}

		&.completed {
			border-color: $green;

			.status-color-line {
				background-color: $green;
			}

			.task-remaining {
				color: $green;
			}

			&:hover {

				.button {
					color: $green;
				}
			}
		}

		&:hover {

			.button {
				color: $red;
			}

			.status-color-line {
				width: 3%;
			}

			&:before, &:after {
				bottom: 25px;
			}

		}

		&:before, &:after {
		  content: "";
		  position: absolute;
		  z-index: -1;
		  bottom: 15px;
		  left: 10px;
		  width: 50%;
		  height: 20%;
		  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
		  transform: rotate(-3deg);

		  transition: bottom 0.2s ease;
		}

		&:after{
		  right: 10px;
		  left: auto;
		  transform: rotate(3deg);
		 }
	}

	.status-color-line {
		width: 2%;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		background-color: $red;

		transition: width 0.2s ease;
	}

	.name {
		margin-top: 5px;
	}

	.task-remaining {
		color: $red;
	}

	.button {
		font-family: comic sans ms;
		text-align: center;
		font-size: 3em;
		text-shadow: rgba(0, 0, 0, 0.1) -1px 0, rgba(0, 0, 0, 0.1) 0 -1px, rgba(255, 255, 255, 0.1) 1px 0, rgba(255, 255, 255, 0.1) 0 1px, rgba(0, 0, 0, 0.1) -1px -1px, rgba(255, 255, 255, 0.1) 1px 1px;
		color: rgba(255, 255, 255, 0.6);
		position: absolute;
		top: 0;
		right: 0;
		margin: 19px 15px;

		transition: color 0.5s ease;
	}

}


// --------------------------------------
// HEADER

.switch-button-container {
	width: 70%;
	min-height: 30px;
	margin: 0 auto 20px;
	position: relative;
	border: 1px solid gray;
	cursor: pointer;
	overflow: hidden;

	.option {
		text-align: center;
		position: relative;
		z-index: 20;
		float: left;
		width: 50%;
		box-shadow: 3px 3px 9px -2px rgba(0, 0, 0, 0.4) inset;
		line-height: 28px;
		background-color: $green;
		color: white;

		&.right { background-color: $red; }

	}

	.switch {
		position: absolute;
		z-index: 30;
		top: 0;
		bottom: 0;
		left: 0;
		width: 50%;
		background-color: #EEEEEE;
		box-shadow: 0 0 10px 0;

		transition: left 0.5s ease;

		&.right {
			left: 50%;
		}
	}

}