@import '_vars';

// --------------------------------------
// SERVICE PANEL

.right-panel {

	.tasks {
		margin: 20px;
		text-align: left;
		width: 90%;

		.task {
			position: relative;
			height: 45px;

			.name { width: 75%; }

			.due-date { text-align: center; }
		}
	}

	// Set the member in charge for
	.service-members-container {
		background-color: $ch_red;
		box-shadow: 3px 3px 9px -2px rgba(0, 0, 0, 0.4) inset;
		overflow: hidden;
		height: 0;
		margin: 20px 0;
		color: white;
		position: relative;

		transition: height $transition_time ease;

		&.visible { height: 220px; }

		@media screen and (max-width: $max_width_medium) {
			&.visible { height: 340px; }
		}

		.list, .confirmation {
			position: absolute;
			transition: top $transition_time ease;
		}

		.list {
			left: 5%;
			width: 90%;
			top: -240px;

			@media screen and (max-width: $max_width_medium) {
				// line-height: 1.5em;
			}

			@media screen and (max-width: $max_width_low) {
				top: -320px;
			}

			&.active { top: 20px; }

		}

		.confirmation {
			top: 350px;
			width: 90%;
			left: 5%;

			&.active { top: 70px; }

			@media screen and (max-width: $max_width_medium) {
				// line-height: 1.5em;
			}

			@media screen and (max-width: $max_width_low) {
				top: 350px;

				&.active { top: 100px; }
			}
		}
	}

	.edit-face {

		.edit-member-list-container, .edit-service-members-list-container {
			background-color: white;
			box-shadow: 3px 3px 9px -2px rgba(0, 0, 0, 0.4) inset;
			overflow: hidden;
			height: 0;
			margin: 0;
			padding: 0;
			position: relative;
			display: inline-block;
			width: 100%;

			transition: height $transition_time ease, padding $transition_time ease, margin $transition_time ease;

			&.visible {
				height: 220px;
				padding: 20px 0;
				margin: 20px 0;
			}

			@media screen and (max-width: $max_width_medium) {
				&.visible { height: 340px; }
			}
		}
	}
}