@import '_vars';

// --------------------------------------
// SWITCH BUTTON

.switch-button-container {
	width: 70%;
	min-height: 30px;
	margin: 0 auto 20px;
	position: relative;
	border: 1px solid gray;
	cursor: pointer;
	overflow: hidden;
	z-index: 5;

	@media screen and (max-width: $max_width_low) {
			width: 100%;
	}

	.option {
		text-align: center;
		position: relative;
		z-index: 20;
		float: left;
		width: 50%;
		box-shadow: 3px 3px 9px -2px rgba(0, 0, 0, 0.4) inset;
		line-height: 28px;
		background-color: $ch_green;
		color: white;

		&.right { background-color: $ch_red; }

		@media screen and (max-width: $max_width_medium) {
				padding: 5px 12px;
				line-height: inherit;
		}

	}

	.switch {
		position: absolute;
		z-index: 30;
		top: 0;
		bottom: 0;
		left: 0;
		width: 50%;
		background-color: #EEEEEE;
		box-shadow: 0 0 10px 0;
		text-align: center;
		padding: 5px;

		transition: left $transition_time ease;

		&.right {
			left: 50%;
		}

		span {
			width: 1px;
			height: 100%;
			display: inline-block;
			margin: 0px 2px;
			box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.2);
		}
	}
}