<div class="service-panel" ng-class="{ visible: panelOpenned }">

	<i class="fa fa-angle-double-right close-button" ng-click="closePanel()"></i>

	<h1 class="name">{{ selectedService.name }}</h1>
	<div class="leader-name">Responsable :
		<span class="label label-default">{{ selectedService.leader_name }}</span>
	</div>
	<div class="in-charge-this-meeting">Cette réunion :
		<span class="label" ng-class="{ 'label-danger': selectedService.member_in_charge_name == 'A définir' }">{{ selectedService.member_in_charge_name }}</span>
	</div>
	<h2>Tâches à accomplir pour cette réunion</h2>
	<table class="tasks">
		<tr>
			<th>Tâche</th>
			<th>Échéance</th>
		</tr>
		<tr class="task" ng-repeat="task in selectedService.tasks">
			<td class="name">
				<input name="task_{{ task.id }}" id="task_{{ task.id }}" type="checkbox" ng-model="task.completed" ng-change="toggleCompletedTask({{ task }}, {{ selectedService }})">
				<label for="task_{{ task.id }}">{{ task.name }}</label>
			</td>
			<td class="due-date">{{ task.due_date | date:'d/MM/yyyy' }}</td>
		</tr>
	</table>

</div>