<div class="office-date">
	<div class="previous glyphicon glyphicon-circle-arrow-left" ng-click="previousOffice()"></div>
	<h1>Réunion du {{ vm.Office.loaded.date | date:'d/MM/yyyy' }}</h1>
	<div class="next glyphicon glyphicon-circle-arrow-right" ng-click="nextOffice()"></div>
</div>

<div class="switch-button-container" ng-click="vm.Service.displayAll = !vm.Service.displayAll">

		<div class="option">
			<span>Afficher toutes les tâches</span>
		</div>
		<div class="option right">
			<span>Seulement les incomplètes</span>
		</div>

		<div class="switch" ng-class="{ right: vm.Service.displayAll }">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>

</div>

<div class="services">
	<!-- Service -->
	<div ng-repeat="service in vm.Office.services" ch-service-list-item service="service"></div>
</div>

<!-- Service panel -->
<ch-service-panel></ch-service-panel>

<!-- Member panel -->
<ch-member-panel></ch-member-panel>

<!-- Overlay -->
<div class="overlay" ng-class="{ 'visible': vm.Service.panelOpen }" ng-click="vm.Office.closeAllPanels()"></div>

<div ng-init="user.name = 'joe'">
	<input type="text" ng-model="user.name">
	<pre>{{ user | json }}</pre>
</div>