<div class="office-date">
	<div class="previous glyphicon glyphicon-circle-arrow-left"></div>
	<h1>Réunion du {{ office.date | date:'d/MM/yyyy' }}</h1>
	<div class="next glyphicon glyphicon-circle-arrow-right"></div>
</div>

<div class="switch-button-container" ng-click="displayAllTasks = !displayAllTasks">

		<div class="option">
			<span>Afficher toutes les tâches</span>
		</div>
		<div class="option right">
			<span>Seulement les incomplètes</span>
		</div>

		<div class="switch" ng-class="{ right: displayAllTasks }">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>

</div>

<div class="services">

	<div class="service" ng-repeat="service in office.services" ng-class="{ completed: service.ready }" ng-show="displayAllTasks || !service.ready" ng-click="openServicePanel(service)">

		<div class="all-tasks-completed" ng-show="service.ready">Terminé</div>
		<div class="status-color-line"></div>
		<h2 ch-capitalize class="name" name="{{ service.name }}"></h2>
		<div class="task-remaining">Tâches effectuées : {{ service.task_done }} sur {{ service.task_total }}</div>
		<div class='button'>></div>

	</div>

	<!-- Right panels -->
	<div ng-include="'views/services/panel.html'"></div>
	<div ng-include="'views/members/panel.html'"></div>
	<div class="overlay" ng-class="{ 'visible-service': servicePanelOpen, 'visible-member': memberPanelOpen }" ng-click="closeAllPanels()"></div>

</div>