<div class="office-date">
	<div class="previous glyphicon glyphicon-circle-arrow-left" ng-click="previousOffice()"></div>
	<h1>Réunion du {{ vm.office.loaded.date | date:'d/MM/yyyy' }}</h1>
	<div class="next glyphicon glyphicon-circle-arrow-right" ng-click="nextOffice()"></div>
</div>

<div class="switch-button-container" ng-click="displayAllTasks = !displayAllTasks">

		<div class="option">
			<span>Afficher toutes les tâches</span>
		</div>
		<div class="option right">
			<span>Seulement les incomplètes</span>
		</div>

		<div class="switch" ng-class="{ right: displayAllTasks }">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>

</div>

<pre>{{ vm.service.loaded | json }}</pre>

<div class="services">

	<!-- Service -->
	<div ng-repeat="service in vm.office.services" ch-service-list-item service="service" office-service="vm.service.clicked"></div>

	<!-- Service panel -->
	<ch-service-panel loaded-service="vm.service.loaded" panel-open="vm.service.panelOpen"></ch-service-panel>

</div>