@import '_vars';

// --------------------------------------
// SERVICE PANEL

.office-panel {
	position: fixed;
	right: -500px;
	top: 0;
	bottom: 0;
	background-color: seashell;
	width: 500px;
	text-align: center;
	padding: 20px;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);

	transition: right $transition_time ease;

	&.level-one {
		z-index: 50;

		&.active {
			right: 0;
		}

		&.pushed-once {
			right: 30px;
		}
	}

	&.level-two {
		z-index: 100;

		&.active {
			right: 0;
		}
	}

	h2 { font-size: 1.5em; }

	label { margin: 0 35px 0; }

	th {
		text-align: center;
		color: gray;
		font-weight: lighter;
	}

	td { position: relative; }

	.tasks {
		margin: 20px;
		text-align: left;
		width: 90%;

		.task {
			position: relative;
			height: 45px;

			.name {
				width: 75%;
			}

			.due-date {
				text-align: center;
			}
		}
	}

	.close-button {
		position: absolute;
		top: 20px;
		left: 20px;
		font-size: 3em;
		cursor: pointer;
		color: $gray;

		transition: color $transition_time ease;

		&:hover { color: $red; }
	}

	.member-list-container {
		background-color: $red;
		box-shadow: 3px 3px 9px -2px rgba(0, 0, 0, 0.4) inset;
		margin: 0 -20px;
		overflow: hidden;
		width: 500px;
		padding: 0;
		height: 0;

		transition: height $transition_time ease, padding $transition_time ease;

		&.visible {
			padding: 10px;
			height: 135px;
		}

		.member {
			margin: 2px;
			display: inline-block;
			line-height: 2em;

			&:hover {
				background-color: $blue;
			}
		}
	}
}