<div class="right-panel level-two" ng-class="{ active: memberPanelOpen }">

<i class="fa fa-angle-double-right close-button" ng-click="closeMemberPanel()"></i>

	<h1 class="name">{{ loadedMember.name }}</h1>
	<ul>
		<li>Email : {{ loadedMember.email || "Non renseigné" }}</li>
		<li>Téléphone : {{ loadedMember.phone || "Non renseigné" }}</li>
	</ul>

	<!-- Member Services container -->
	<div class="member-services">
		<div class="service-badge" ng-class="{ leader: loadedMember.leader_of_id === service.id }" ng-repeat="service in services">{{ service.name }}</div>
	</div>
</div>