<!-- ================= REGULAR FACE ================= -->

<div class="right-panel regular-face level-two" ng-class="{ active: dvm.Member.panelOpen, 'edit-mode': dvm.Member.editMode }">

	<div class="content">
		<div class="buttons">
			<i class="fa fa-angle-double-right close-panel" ng-click="dvm.Member.closePanel()"></i>
			<i class="fa fa-edit edit-panel" ng-click="dvm.Member.toggleEditMode()"></i>
		</div>

		<h1 class="name">{{ dvm.Member.loaded.name }}</h1>
		<ul>
			<li>Email : {{ dvm.Member.loaded.email || "Non renseigné" }}</li>
			<li>Téléphone : {{ dvm.Member.loaded.phone || "Non renseigné" }}</li>
		</ul>

		<!-- Member Services  -->
		<ch-member-services></ch-member-services>

	</div>

</div>


<!-- ================= EDIT FACE ================= -->

<div class="right-panel edit-face level-two" ng-class="{ active: dvm.Member.panelOpen, 'edit-mode': dvm.Member.editMode }">

	<div class="header-edit-mode">Modification de la fiche de {{ dvm.Member.loaded.name }}</div>

	<div class="content">
		<!-- Panel buttons: close, edit, save -->
		<div class="buttons">
			<i class="fa fa-check valid-edit-panel" ng-click="dvm.Member.validEdition()"></i>
		</div>

		<h2>Informations personnelles</h2>

		<form>
			<input ng-model="dvm.Member.loaded.name" type="text" name="name" value="{{ dvm.Member.loaded.name }}" placeholder="Ex : Buzz l'Eclair" required><br>
			<input ng-model="dvm.Member.loaded.email" type="email" name="email" value="{{ dvm.Member.loaded.email }}" placeholder="Ex : buzz@starcommand.com" required><br>
			<input ng-model="dvm.Member.loaded.phone" type="text" name="phone" value="{{ dvm.Member.loaded.phone }}" placeholder="Ex : 06 01 02 03 04" required>
		</form>

		<h2>Implications</h2>

		<p>Choisissez de quel(s) service(s) cette personne est membre et/ou responsable. Cliquer plusieurs fois sur un service pour sélectionner alternativement "Non membre", "Membre", "Responsable"</p>

		<!-- Member Services  -->
		<ch-member-services></ch-member-services>

	</div>

</div>