<div class="member-services">

	<div ng-repeat="service in dvm.Office.services" class="panel-badge" ng-class="{leader: dvm.Member.isLeaderOfThisService(dvm.Member.loaded, service), member: dvm.Member.isMemberOfThisService(dvm.Member.loaded, service)}" ng-click="dvm.Member.toggleMemberService(service)">
		{{ service.name }}
	</div>

</div>

<p>Légende :</p>
<div class="caption">
	<div class="panel-badge">Service</div>
	<div class="panel-badge member">Membre</div>
	<div class="panel-badge leader">Responsable</div>
</div>