<div class="right-panel level-two" ng-class="{ active: dvm.panelOpen }">

<i class="fa fa-angle-double-right close-button" ng-click="dvm.closePanel()"></i>

	<h1 class="name">{{ dvm.loadedMember.name }}</h1>
	<ul>
		<li>Email : {{ dvm.loadedMember.email || "Non renseigné" }}</li>
		<li>Téléphone : {{ dvm.loadedMember.phone || "Non renseigné" }}</li>
	</ul>

	<!-- Member Services container -->
	<div class="member-services">
		<div class="service-badge" ng-class="{ leader: loadedMember.leader_of_id === service.id, member: isMemberOfThisService(service) }" ng-repeat="service in services" ng-click="toggleMemberService(loadedMember, service)">
			{{ service.name }}
		</div>
	</div>

	<a ng-click="displayCaption = !displayCaption"><i class="fa fa-angle-double-down"></i> Afficher la légende <i class="fa fa-angle-double-down"></i></a>

	<div class="caption" ng-show="displayCaption">
		<div class="service-badge">Service</div>
		<div class="service-badge member">Membre</div>
		<div class="service-badge leader">Responsable</div>
	</div>

</div>