<div class="member-services">

	<div ng-repeat="service in dvm.Office.services" class="service-badge" ng-class="{ leader: dvm.Member.loaded.id === service.leader_id, member: dvm.Member.isMemberOfThisService(dvm.Member.loaded, service) }"  ng-click="dvm.Member.toggleMemberService(service)">
		{{ service.name }}
	</div>

</div>

<p>Légende :</p>
<div class="caption">
	<div class="service-badge">Service</div>
	<div class="service-badge member">Membre</div>
	<div class="service-badge leader">Responsable</div>
</div>