<div class="right-panel level-two" ng-class="{ active: dvm.Member.panelOpen }">

	<!-- Panel buttons: close, edit, save -->
	<div class="buttons">
		<i class="fa fa-angle-double-right close-panel" ng-click="dvm.Member.closePanel()" ng-hide="dvm.Member.editMode"></i>
		<i class="fa fa-check valid-edit-panel" ng-click="dvm.Member.toggleEditMode()" ng-show="dvm.Member.editMode"></i>
		<i class="fa fa-edit edit-panel" ng-click="dvm.Member.toggleEditMode()" ng-hide="dvm.Member.editMode"></i>
	</div>

	<h1 class="name">{{ dvm.Member.loaded.name }}</h1>
	<ul>
		<li>Email : {{ dvm.Member.loaded.email || "Non renseigné" }}</li>
		<li>Téléphone : {{ dvm.Member.loaded.phone || "Non renseigné" }}</li>
	</ul>

	<!-- Member Services  -->
	<ch-member-services></ch-member-services>

</div>