<!-- ================= REGULAR FACE ================= -->

<div class="right-panel regular-face level-one" ng-class="{ active: dvm.Service.panelOpen, 'edit-mode': dvm.Service.editMode, 'pushed': dvm.Service.panelPushed }">

	<div class="content">
		<!-- Panel buttons: close, edit, save -->
		<div class="buttons">
			<i class="fa fa-angle-double-right close-panel" ng-click="dvm.Service.closePanel()"></i>
			<i class="fa fa-edit edit-panel" ng-click="dvm.Service.toggleEditMode()"></i>
		</div>

		<h1 class="name">{{ dvm.Service.loaded.name }}</h1>

		<div class="members-in-charge">

			<!-- Leader -->
			<span class="btn btn-default" ng-click="dvm.Service.selectMember(dvm.Service.loaded.leader_id)">
				Responsable : {{ dvm.Service.loaded.leader_name }}
			</span>

			<!-- In charge this office -->
			<span class="btn" ng-class="{ 'btn-primary': dvm.Service.loaded.member_in_charge_name, 'btn-danger': !dvm.Service.loaded.member_in_charge_name }" ng-click="toggleMemberList()">
				Cette réunion : {{ dvm.Service.loaded.member_in_charge_name || "Personne" }}
			</span>

		</div>

		<!-- <div class="member-list-container" ng-class="{ visible: memberListOpen }">

			<div class="list" ng-class="{ active: !memberToConfirm }">
				<p>Quelle personne sera en charge durant cette réunion ?</p>
				<span class="member btn btn-danger" ng-repeat="member in serviceMembers" ng-click="confirmMemberInCharge(member)">{{ member.name }}</span>
			</div>

			<div class="confirmation" ng-class="{ active: memberToConfirm }">
				<p>
					Assigner {{ memberToConfirm.name }} au service {{ dvm.Service.loaded.name }} pour cette réunion ?<br>
					{{ memberToConfirm.name }} recevra un mail de confirmation.
				</p>
				<div class="btn btn-default" ng-click="confirmMemberInCharge(false)">Annuler</div>
				<div class="btn btn-primary" ng-click="updateMemberInCharge(memberToConfirm)">Confirmer</div>
			</div>

		</div> -->

		<h2>Tâches à accomplir pour cette réunion</h2>

		<!-- Table of tasks -->
		<table class="tasks">

			<tr>
				<th>Tâche</th>
				<th>Échéance</th>
			</tr>

			<tr class="task" ng-repeat="task in dvm.Service.loaded.tasks" ng-model="task">
				<td class="name">
					<input name="task_{{ task.id }}" id="task_{{ task.id }}" type="checkbox" ng-model="task.completed" ng-change="update(task)">
					<label for="task_{{ task.id }}">{{ task.name }}</label>
				</td>
				<td class="due-date">{{ task.due_date | date:'d/MM/yyyy' }}</td>
			</tr>

		</table>
	</div>

</div>


<!-- ================= EDIT FACE ================= -->

<div class="right-panel edit-face level-one" ng-class="{ active: dvm.Service.panelOpen, 'edit-mode': dvm.Service.editMode, 'pushed': dvm.Service.panelPushed }">

	<div class="header-edit-mode">Modification du service</div>

	<div class="content">
		<!-- Panel buttons: close, edit, save -->
		<div class="buttons">
			<i class="fa fa-check valid-edit-panel" ng-click="dvm.Service.toggleEditMode()"></i>
		</div>

		<!-- Add / Remove members to the service -->
		<div class="add-remove-member-container">
			<h2>Ajouter / Retirer<br>des membres à ce service</h2>
			<span ng-repeat="member in dvm.Office.members" class="member" ng-class="{'member-of-this-service': dvm.Member.isMemberOfThisService(member, vm.Service.loaded)}" ng-click="vm.Service.toggleMembership(member)">{{ member.name }}</span>
		</div>

		<!-- Set the service's leader -->
		<div class="set-leader-containter">
			<h2>Choisir le responsable du service</h2>
			<span ng-repeat="member in dvm.Service.loaded.members" class="member" ng-class="{'leader-of-this-service': vm.Member.isLeaderOfThisService(member, vm.Service.loaded)}" ng-click="toggleServiceLeader(member)">{{ member.name }}</span>
		</div>
	</div>

</div>